In [1]:
import os
import sys
sys.path.append('..')
import numpy as np
import pandas as pd
from library import config, load_o_data

In [2]:
df_test = load_o_data.load_df_test()

df_test shape=(567362, 5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567362 entries, 0 to 567361
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            567362 non-null  object
 1   core_cust_id  567362 non-null  object
 2   prod_code     567362 non-null  object
 3   prod_type     567362 non-null  int8
 4   deal_date     567362 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int8(1), object(3)
memory usage: 126.3 MB

In [3]:
df_trade = load_o_data.load_df_trade()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 949114 entries, 0 to 949113
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   n1            949114 non-null  object
 1   n2            768728 non-null  float64
 2   n3            949114 non-null  int64
 3   core_cust_id  949114 non-null  object
 4   prod_code     949114 non-null  object
 5   n6            949114 non-null  int64
 6   n7            949114 non-null  object
 7   n8            949114 non-null  int64
 8   n9            949114 non-null  int64
 9   n10           949114 non-null  int64
 10  n11           949114 non-null  int64
dtypes: float64(1), int64(6), object(4)
memory usage: 302.2 MB
          trade_code  trade_channel  trade_net_value  trade_apply_amt  \
count  949114.000000  949114.000000         949114.0     9.491140e+05
mean        5.561790       4.024537              1.0     1.081216e+05
std         3.771177       1.689281              0.0     2.434524e+06
min        -1.000000       0.000000              1.0     1.100000e+02
25%         4.000000       2.000000              1.0     1.100000e+02
50%         7.000000       5.000000              1.0     1.100000e+02
75%         8.000000       5.000000              1.0     7.610000e+03
max        10.000000       5.000000              1.0     5.250001e+08

       trade_fund_status   trade_status  trade_total_amt
count      949114.000000  949114.000000         949114.0
mean            3.452229       3.115492              0.0
std             2.352625       0.722830              0.0
min             0.000000       1.000000              0.0
25%             3.000000       3.000000              0.0
50%             3.000000       3.000000              0.0
75%             6.000000       3.000000              0.0
max             8.000000       7.000000              0.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 949114 entries, 0 to 949113
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trade_id           949114 non-null  object
 1   trade_code         949114 non-null  int8
 2   trade_channel      949114 non-null  int8
 3   core_cust_id       949114 non-null  object
 4   prod_code          949114 non-null  object
 5   trade_net_value    949114 non-null  float64
 6   trade_apply_amt    949114 non-null  float64
 7   trade_fund_status  949114 non-null  int8
 8   trade_status       949114 non-null  int8
 9   trade_total_amt    949114 non-null  float64
 10  deal_date          949114 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int8(4), object(3)
memory usage: 229.0 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42492 entries, 0 to 42491
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   o1            42492 non-null  object
 1   o2            42492 non-null  int64
 2   o3            42492 non-null  int64
 3   core_cust_id  42492 non-null  object
 4   prod_code     42492 non-null  object
 5   o6            42492 non-null  float64
 6   o7            42492 non-null  object
 7   o8            42492 non-null  int64
 8   o9            42492 non-null  int64
 9   o10           42492 non-null  object
 10  o11           42492 non-null  object
 11  o12           42492 non-null  int64
dtypes: float64(1), int64(5), object(6)
memory usage: 18.1 MB
                   trade_id  trade_code  trade_channel core_cust_id  \
0  ALC202107210000007437420           2              1   b1a66424c4
1  ALC202107140000007373365           2              1   e733784b55
2  LC2021022300000006329444           8              5   1ef76cc3c0
3  LC2021051300000006917384           8              5   72c91d39c4
4  LC2021062400000007193297          10              5   72c91d39c4

      prod_code  trade_net_value  trade_apply_amt  trade_status  \
0   SSTJMZKF002           1.0085          75110.0             3
1   SSTJMZKF002           1.0071          18110.0             3
2      YZFB0032        -999.0000            110.0             3
3  201811140151           1.0000            110.0             3
4      DXTY0289           1.0000            110.0             3

   trade_fund_status  trade_total_amt  trade_excess_amt  deal_date
0                  3            110.0             110.0 2021-07-21
1                  3            110.0             110.0 2021-07-14
2                  6            110.0             110.0 2021-02-23
3                  6            110.0             110.0 2021-05-13
4                  0            110.0             110.0 2021-06-24
         trade_code  trade_channel  trade_net_value  trade_apply_amt  \
count  42492.000000   42492.000000     42492.000000     4.249200e+04
mean       4.264003       2.224772      -119.089623     1.323012e+05
std        2.925424       1.799264       325.075631     7.725152e+05
min        2.000000       0.000000      -999.000000     1.100000e+02
25%        2.000000       1.000000         1.000000     1.100000e+02
50%        2.000000       1.000000         1.004100     3.011000e+04
75%        8.000000       5.000000         1.011700     1.291100e+05
max       11.000000       5.000000         1.024600     1.120801e+08

       trade_status  trade_fund_status  trade_total_amt  trade_excess_amt
count  42492.000000       42492.000000     4.249200e+04      42492.000000
mean       3.181446           3.655417     1.773845e+04        116.756094
std        0.932282           2.074979     1.608551e+05         66.730652
min        1.000000           0.000000     1.100000e+02        110.000000
25%        3.000000           3.000000     1.100000e+02        110.000000
50%        3.000000           3.000000     1.100000e+02        110.000000
75%        3.000000           6.000000     1.100000e+02        110.000000
max        7.000000           8.000000     1.643143e+07       6242.630000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42492 entries, 0 to 42491
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   trade_id           42492 non-null  object
 1   trade_code         42492 non-null  int8
 2   trade_channel      42492 non-null  int8
 3   core_cust_id       42492 non-null  object
 4   prod_code          42492 non-null  object
 5   trade_net_value    42492 non-null  float64
 6   trade_apply_amt    42492 non-null  float64
 7   trade_status       42492 non-null  int8
 8   trade_fund_status  42492 non-null  int8
 9   trade_total_amt    42492 non-null  float64
 10  trade_excess_amt   42492 non-null  float64
 11  deal_date          42492 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int8(4), object(3)
memory usage: 10.5 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3886 entries, 0 to 3885
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   q1            3886 non-null   object
 1   q2            3886 non-null   int64
 2   q3            3886 non-null   int64
 3   core_cust_id  3886 non-null   object
 4   prod_code     3886 non-null   object
 5   q6            3886 non-null   int64
 6   q7            3886 non-null   object
 7   q8            3886 non-null   int64
 8   q9            3886 non-null   int64
 9   q10           3886 non-null   int64
dtypes: int64(6), object(4)
memory usage: 1.2 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3886 entries, 0 to 3885
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   trade_id           3886 non-null   object
 1   trade_code         3886 non-null   int8
 2   trade_channel      3886 non-null   int8
 3   core_cust_id       3886 non-null   object
 4   prod_code          3886 non-null   object
 5   trade_net_value    3886 non-null   float64
 6   trade_apply_amt    3886 non-null   float64
 7   trade_fund_status  3886 non-null   int8
 8   trade_status       3886 non-null   int8
 9   deal_date          3886 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int8(4), object(3)
memory usage: 929.5 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1056586 entries, 0 to 1056585
Data columns (total 12 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   p1            1056586 non-null  object
 1   p2            1056586 non-null  int64
 2   p3            138973 non-null   float64
 3   core_cust_id  1056586 non-null  object
 4   prod_code     1056586 non-null  object
 5   p6            1056586 non-null  float64
 6   p7            1056586 non-null  object
 7   p8            1056586 non-null  float64
 8   p9            1056586 non-null  int64
 9   p10           127049 non-null   float64
 10  p11           1056586 non-null  int64
 11  p12           1056586 non-null  int64
dtypes: float64(4), int64(4), object(4)
memory usage: 342.5 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1056586 entries, 0 to 1056585
Data columns (total 12 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   trade_id             1056586 non-null  object
 1   trade_code           1056586 non-null  int8
 2   trade_channel        1056586 non-null  int8
 3   core_cust_id         1056586 non-null  object
 4   prod_code            1056586 non-null  object
 5   trade_net_value      1056586 non-null  float64
 6   trade_apply_amt      1056586 non-null  float64
 7   trade_discount_rate  1056586 non-null  float64
 8   trade_status         1056586 non-null  int8
 9   trade_fund_status    1056586 non-null  int8
 10  trade_fee_rate       1056586 non-null  int8
 11  deal_date            1056586 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int8(5), object(3)
memory usage: 251.8 MB
         trade_code  trade_channel  trade_net_value  trade_apply_amt  \
count  2.052078e+06   2.052078e+06     2.052078e+06     2.052078e+06
mean   7.347163e+00   1.557031e+00    -1.403220e+00     6.666603e+04
std    3.612928e+00   2.691768e+00     4.980951e+01     1.705317e+06
min   -1.000000e+00  -1.000000e+00    -9.990000e+02     1.100000e+02
25%    4.000000e+00  -1.000000e+00     1.000000e+00     1.100000e+02
50%    1.000000e+01   1.000000e+00     1.160000e+00     1.105700e+02
75%    1.000000e+01   5.000000e+00     1.160000e+00     1.303250e+02
max    1.100000e+01   6.000000e+00     1.299293e+00     5.250001e+08

       trade_fund_status  trade_status  trade_total_amt  trade_excess_amt  \
count       2.052078e+06  2.052078e+06     9.916060e+05      42492.000000
mean        1.390283e+00  3.077229e+00     7.601226e+02        116.756094
std         2.751204e+00  5.906521e-01     3.349092e+04         66.730652
min        -1.000000e+00  1.000000e+00     0.000000e+00        110.000000
25%        -1.000000e+00  3.000000e+00     0.000000e+00        110.000000
50%         0.000000e+00  3.000000e+00     0.000000e+00        110.000000
75%         3.000000e+00  3.000000e+00     0.000000e+00        110.000000
max         8.000000e+00  7.000000e+00     1.643143e+07       6242.630000

       trade_discount_rate  trade_fee_rate
count         1.056586e+06    1.056586e+06
mean          5.680630e-04    1.516204e-03
std           1.864037e-02    3.890895e-02
min           0.000000e+00    0.000000e+00
25%           0.000000e+00    0.000000e+00
50%           0.000000e+00    0.000000e+00
75%           0.000000e+00    0.000000e+00
max           1.000000e+00    1.000000e+00
                   trade_id  trade_code  trade_channel core_cust_id  \
0  JGX202101020000005963478           4              1   48e046e615
1  JGX202101200000006096306           8              5   48e046e615
2  JGX202101280000006165894          -1              5   48e046e615
3  JGX202103180000006493250          -1              5   48e046e615
4  JGX202104230000006753570          10              5   48e046e615

      prod_code  trade_net_value  trade_apply_amt  trade_fund_status  \
0  GRHLA2020552              1.0         220610.0                  1
1  GRSHC2020390              1.0            110.0                  6
2  GRHLA2021094              1.0            110.0                  3
3  GRHLA2021503              1.0            110.0                  3
4  GRSHC2020531              1.0            110.0                  0

   trade_status  trade_total_amt  deal_date  trade_excess_amt  \
0             2              0.0 2021-01-02               NaN
1             3              0.0 2021-01-20               NaN
2             3              0.0 2021-01-28               NaN
3             3              0.0 2021-03-18               NaN
4             3              0.0 2021-04-23               NaN

   trade_discount_rate  trade_fee_rate
0                  NaN             NaN
1                  NaN             NaN
2                  NaN             NaN
3                  NaN             NaN
4                  NaN             NaN
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2052078 entries, 0 to 1056585
Data columns (total 14 columns):
 #   Column               Dtype
---  ------               -----
 0   trade_id             object
 1   trade_code           int8
 2   trade_channel        int8
 3   core_cust_id         object
 4   prod_code            object
 5   trade_net_value      float64
 6   trade_apply_amt      float64
 7   trade_fund_status    int8
 8   trade_status         int8
 9   trade_total_amt      float64
 10  deal_date            datetime64[ns]
 11  trade_excess_amt     float64
 12  trade_discount_rate  float64
 13  trade_fee_rate       float64
dtypes: datetime64[ns](1), float64(6), int8(4), object(3)
memory usage: 553.5 MB

In [4]:
df_test_trade = pd.merge(df_test[['core_cust_id', 'prod_code', 'deal_date']], df_trade, on=['core_cust_id', 'prod_code'], how='left', suffixes=('', '_y'))
df_test_trade = df_test_trade.loc[df_test_trade['deal_date'] > df_test_trade['deal_date_y'], ]
df_test_trade_g = df_test_trade.groupby(['core_cust_id', 'prod_code', 'deal_date']).agg({'trade_id': len}).reset_index()
df_test_trade_g

     core_cust_id    prod_code  deal_date  trade_id
0      1087ee0a95     91318017 2021-10-01       102
1      1087ee0a95  SSTJMZKF001 2021-10-01         6
2      1087ee0a95  SSTJMZKF002 2021-10-01         8
3      1087ee2d57     90318011 2021-10-01        79
4      1087ee2d57  SSTJMZKF001 2021-10-01         2
...           ...          ...        ...       ...
6072    eab282c4e  SSTJMZKF002 2021-10-01         2
6073    eab28435d  SSTJMZKF001 2021-10-01         1
6074    eab284484     91318017 2021-10-01       164
6075    eab284484  SSTJMZKF001 2021-10-01         1
6076    eab287c62     91318017 2021-10-01       100

[6077 rows x 4 columns]

In [5]:
df_test_predict = pd.merge(df_test, df_test_trade_g, on=['core_cust_id', 'prod_code', 'deal_date'], how='left')
df_test_predict['y'] = [1-int(x) for x in pd.isnull(df_test_predict['trade_id'])]
df_test_predict

,id,core_cust_id,prod_code,prod_type,deal_date,trade_id,y
0,014d5e46cd2e47f2ba2958a085ffc069,548481d891,GRHLA20211729,1,2021-10-01,NaN,0
1,6e0cf8346acb4c818f79b5b51d6f408e,548481d891,91318017,4,2021-10-01,NaN,0
2,aff6a912581747119c0f1dcaff3f2d0d,548481d891,GRZSA2021029,1,2021-10-01,NaN,0
3,4dac8b01f5a24545a9c3acd375f2a56b,548481d891,GRHLA20211836,1,2021-10-01,NaN,0
4,1b3d29eb5ef846cea13ae33a523ed732,548481d891,DECD21090104,2,2021-10-01,NaN,0
...,...,...,...,...,...,...,...
567357,a95980107328466eb7d67accc2810193,4b34526e4d,SSTJMZKF002,3,2021-10-01,1.0,1
567358,9080af08e056409f8b3ca32fbea03af1,80c1764cab,90318011,4,2021-10-01,NaN,0
567359,323ed9139ecb4a5286f61e58ce3e3bab,4d885e237d,SSTJMZKF002,3,2021-10-01,NaN,0
567360,341e0b03d13241b88568d440fd0871d2,523085692b,HD1D001,4,2021-10-01,NaN,0
567361,0330a1471d6b4f868392eaa450110db3,7c195ef1fa,SSTJMZKF001,3,2021-10-01,NaN,0

In [ ]:
df_test_predict[['id', 'core_cust_id', 'prod_code', 'y']].to_csv(os.path.join(config.result_p_dir, 'his_20210109.csv'), index=False)